
.mainContainer {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.5fr 1fr 1fr 1fr 1fr 0.3fr;
  grid-template-areas:
    'heading heading'
    'cardDiv platesDiv'
    'trexDiv platesDiv'
    'trexDiv platesDiv'
    'trexDiv platesDiv'
    'trexDiv scoreBoardDiv'
    'footer footer';

}

.heading {
  grid-area: heading;


}

.cardDiv {
  grid-area: cardDiv;
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.answerBubble {
  width: 75%;
  height: 75%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: solid 1px black;
  border-radius: .5em;
  font-size: 2.5rem;
  animation: fadeIn1 1s;
}

.trexDiv {
  grid-area: trexDiv;
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.trex {
  background-image: url('./static/Dino 1 copy 2.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 75%;
  height: 85%;

  animation: none
}

.platesDiv {
  grid-area: platesDiv;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

}

.plate1 {
  height: 8rem;
  width: 12rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-content: flex-start;
  border: solid 1px black;
  border-radius: 50%;

}

.plate2 {
  height: 8rem;
  width: 12rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-content: flex-start;
  border: solid 1px blue;
  border-radius: 50%;
  animation: fadeIn 1s
}


.drumStick {
  margin-top: 1rem;
  margin-left: .8rem;
  margin-right: .8rem;

  height: 1em;
  width: 1.5em;
  background-image: url('./static/Drumstick copy.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.scoreBoardDiv {
  grid-area: scoreBoardDiv;
  display: flex;
  justify-content: space-evenly;
}

.scoreBoardDiv > button {
  height: 50%;
}

.scoreBoardDiv > table {
  padding: .2em;
  border: solid 1px black;
  border-radius: .5em;
}

#scoreCell, #chancesCell {
  text-align: center;
  border-top: solid 1px black
}


/* ======== MODAL STUFF ======= */

.show {
  display: block;
}

.hide {
  display: none;
}

footer {
  grid-area: footer;

}

@keyframes feedingPlate1 {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-300px);
    opacity: 0;
  }
}

@keyframes feedingPlate2 {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-300px);
    opacity: 0;
  }
}



@keyframes trexEating1 {
  0% {
    background-image: url('./static/Dino 2 copy 2.png');
  }
  20% {
    background-image: url('./static/Dino 1 copy 2.png');
  }
  40% {
    background-image: url('./static/Dino 2 copy 2.png');
  }
  60% {
    background-image: url('./static/Dino 1 copy 2.png');
  }
  80%{
    background-image: url('./static/Dino 2 copy 2.png');
  }
  100% {
    background-image: url('./static/Dino 1 copy 2.png');
  }
}

@keyframes trexEating2 {
  0% {
    background-image: url('./static/Dino 2 copy 2.png');
  }
  20% {
    background-image: url('./static/Dino 1 copy 2.png');
  }
  40% {
    background-image: url('./static/Dino 2 copy 2.png');
  }
  60% {
    background-image: url('./static/Dino 1 copy 2.png');
  }
  80%{
    background-image: url('./static/Dino 2 copy 2.png');
  }
  100% {
    background-image: url('./static/Dino 1 copy 2.png');
  }
}

@keyframes fadeIn1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
