@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

:root {
  --levelOneBGImage: linear-gradient(#f7dfd3,#e2c3c8,#afafc7,#5f7daf);
  --levelTwoBGImage: linear-gradient(#9bc01c,#ffd64d,#fa6775,#f52549)
}


.mainContainer {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.5fr 1fr 1fr 1fr 1fr 0.3fr;
  grid-template-areas:
    'heading heading'
    'cardDiv platesDiv'
    'trexDiv platesDiv'
    'trexDiv platesDiv'
    'trexDiv platesDiv'
    'trexDiv scoreBoardDiv'
    'footer footer';
  background-image: linear-gradient(#f7dfd3,#e2c3c8,#afafc7,#5f7daf);
  /* background-image: linear-gradient(#9bc01c,#ffd64d,#fa6775,#f52549); */

}

.heading {
  grid-area: heading;
  text-align: center;

}

.heading > h1 {
  font-family: 'Acme', sans-serif;
  font-size: 2.75rem;
  color: #111d9c;
  text-shadow: 1px 1px 1px #00d2f7;
}

.cardDiv {
  grid-area: cardDiv;
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.answerBubbleContainer {
    position:relative;
    margin-left: 10%;
    width: 100%;
    height: 100%;
}

.answerBubble {
  position: absolute;
  top: 0;
  left: 0;
  width: 75%;
  height: 75%;
  background-color: #f9fcf0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 1.5em;
  font-size: 2.5rem;
  font-family: 'Acme', sans-serif;
  color: #111d9c;
  text-shadow: 1px 1px 1px #00d2f7;
  animation: fadeIn1 1s;
}

#answerBubbleTriangle {
  position: absolute;
  top: 65%;
  right: 45%;
  width: 0;
  height: 0;
  border-left: -1rem solid transparent;
  border-right: 3rem solid transparent;
  border-top: 4rem solid #f9fcf0;
}

.trexDiv {
  grid-area: trexDiv;
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.trex {
  background-image: url('./static/Dino 1 copy 2.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 75%;
  height: 85%;

  animation: none
}

.platesDiv {
  grid-area: platesDiv;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

}

.plate1 {
  height: 8rem;
  width: 12rem;
  /* background-color: #467085; */
  background-image: linear-gradient(90deg, #467085, #365b6e);
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-content: flex-start;
  border-radius: 50%;
  box-shadow: .5em .5em .5em #7d7f80;
}

.plate2 {
  height: 8rem;
  width: 12rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-content: flex-start;
  border: solid 1px blue;
  border-radius: 50%;
  animation: fadeIn 1s
}


.drumStick {
  margin-top: 1rem;
  margin-left: .8rem;
  margin-right: .8rem;

  height: 1em;
  width: 1.5em;
  background-image: url('./static/Drumstick copy.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.scoreBoardDiv {
  grid-area: scoreBoardDiv;
  display: flex;
  justify-content: space-evenly;
  color: white;
}

.scoreBoardDiv > button {
  height: 50%;
  background: rgba(255,255,255,.5);
  border: none;
  border-radius: 1px;
  color: #f700f3;
}

.scoreBoardDiv > button:hover{
  background: rgba(255,255,255,.9);
  color: #f7007c;
  transition: .5s;
  cursor: pointer;
}

.scoreBoardDiv > table {
  padding: .2em;
  border: solid 1px white;
  border-radius: .5em;
}

#scoreCell, #chancesCell {
  text-align: center;
  border-top: solid 1px white;
}


/* ======== MODAL STUFF ======= */

.show {
  display: block;
}

.hide {
  display: none;
}

.modalBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(255,255,255,.4)
}

.youWinModalBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(0,0,0,.7);
}

.youWinContainer {
  background-image: url('https://i.imgur.com/of0uThB.gif');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 85%;
  height: 85%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: solid 2px pink;
  border-radius: 1em
}

.youWinContainer > h1 {
  font-family: sans-serif;
  font-size: 5rem;
  color: white;
  text-shadow: 2px 2px 4px pink;
  animation: growShrink 1s infinite;
}

.modalContainerNoBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

}

.nextLevel{
  position: fixed;
  top: 10%;
  left: 0;
  width: 100%;
  height: 10%;
  background-color: rgba(255,255,255,.4);
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: 'Acme', sans-serif;
  font-size: 2.5rem;
  color: orange;
  text-shadow: 1px 1px 1px #00d2f7;

}

.answerFeedback {
  width: 25%;
  height: 25%;
  /* background-color: rgba(255,255,255,.4); */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  /* border-radius: 1em; */
  animation: fadeIn 1s;
}

.wrongAnswerFeedback {
  width: 25%;
  height: 25%;
  /* background-color: #f9fcf0; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  /* border-radius: 1em; */
  animation: fadeIn 1s;
}

#correctMessage, #wrongAnswerSpan {
  font-family: 'Acme', sans-serif;
  font-size: 2.5rem;
  color: orange;
  text-shadow: 1px 1px 1px #00d2f7;
}

#bonesEarned {
  color: white
}

#xSpan {
  font-size: 3rem;
  color: red
}

#gameOverH1 {
  color: white
}

footer {
  grid-area: footer;
  display: flex;
  justify-content: space-evenly;
  padding: 1.5em;
  color: white;
}

@keyframes feedingPlate1 {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-300px);
    opacity: 0;
  }
}

@keyframes feedingPlate2 {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-300px);
    opacity: 0;
  }
}



@keyframes trexEating1 {
  0% {
    background-image: url('./static/Dino 2 copy 2.png');
  }
  20% {
    background-image: url('./static/Dino 1 copy 2.png');
  }
  40% {
    background-image: url('./static/Dino 2 copy 2.png');
  }
  60% {
    background-image: url('./static/Dino 1 copy 2.png');
  }
  80%{
    background-image: url('./static/Dino 2 copy 2.png');
  }
  100% {
    background-image: url('./static/Dino 1 copy 2.png');
  }
}

@keyframes trexEating2 {
  0% {
    background-image: url('./static/Dino 2 copy 2.png');
  }
  20% {
    background-image: url('./static/Dino 1 copy 2.png');
  }
  40% {
    background-image: url('./static/Dino 2 copy 2.png');
  }
  60% {
    background-image: url('./static/Dino 1 copy 2.png');
  }
  80%{
    background-image: url('./static/Dino 2 copy 2.png');
  }
  100% {
    background-image: url('./static/Dino 1 copy 2.png');
  }
}

@keyframes fadeIn {
  0% { opacity: 0 }
  100% { opacity: 1 }
}

@keyframes fadeBackground {
  20% {background-image: var(--levelTwoBGImage)}
  40% {background-image: var(--levelOneBGImage)}
  60% {background-image: var(--levelTwoBGImage)}
  80% {background-image: var(--levelOneBGImage)}
  100% {background-image: var(--levelTwoBGImage)}
}

@keyframes growShrink {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
